Flask==2.2.5
Flask-Cors==5.0.0
opencv-python-headless==4.5.4.60
torch==2.0.1
torchvision==0.15.2
pillow==9.5.0
ultralytics==8.0.47
pytesseract==0.3.10
easyocr==1.6.2
torchtext==0.15.2
pdf2image==1.16.3
numpy<2.0
